@media (prefers-color-scheme: light) {
    :root {
        --text: black;
        --background: white;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: white;
        --background: black;
    }
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

#form {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    font-weight: normal;
}

#form fieldset {
    border: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#form fieldset:first-of-type {
    height: min-content;
    padding: 8px;
}

#form fieldset:nth-of-type(2) {
    min-height: max-content;
}

#form fieldset:nth-of-type(3) {
    height: 100%;
}

button {
    background-color: var(--text);
    color: var(--background);
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
}

input, textarea {
    width: 100%;
    border: none;
    background-color: var(--background);
    color: var(--text);
    padding: 8px 8px;

    &:focus, &:active {
        border: none;
        outline: none;
    }
}

input {
    height: 100%;
    font-size: 21px;
    font-weight: 700;
}

textarea {
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    resize: none;
    overflow: hidden;
}
